:root{
    --primary-color: #FFA62B;
    --secondary-color-1: #00A0C1;
    --secondary-color-2: #16697A;
    --text-color: #252B42;
    --second-text-color: #737373;
    --light-text-color: #FFF;
    --dark-background-color: #252B42;
    --light-background-color: #FFF;
    --hover-color: #2A7CC7;
    --disabled-element-color: #8EC2F2;
    --muted-color: #BDBDBD;
    --success-color: #2DC071;
    --alert-color: #E77C40;
    --danger-color: #E74040;

}

body{
    font-family: 'Montserrat', sans-serif;
}