.title-description{
    max-width: 470px;
}
.title-description .main-h2{
    text-align: center;
    margin-bottom: 10px;
    
}

.title-description .main-paragraph{
    text-align: center;
}

.title-description.-paddingTopBot45{
    padding-top: 45px;
    padding-bottom: 45px;
}